# Ignore IDE configs
.idea/
.vscode/

# Ignore build files
build/
cmake-build-*/
*.o
*.obj
*.exe
*.out

# Mac/Linux
.DS_Store

# Windows
Thumbs.db
*.log

# CMake generated
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
